src/main/mule/jenkin-maven-cicd.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="34e77bf0-f650-4459-ab1b-d9e4f4d517e5" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="jenkin-maven-cicdFlow" doc:id="3b0b1088-dc11-4aa0-ae4d-1f0adca9117e" >
		<http:listener doc:name="Listener" doc:id="d85ea24b-6d0a-4d4c-8525-89f8ab2a7532" config-ref="HTTP_Listener_config" path="/cicd"/>
		<set-payload value="#['Test..3']" doc:name="Set Payload" doc:id="3742c6a3-0955-47fe-9010-06375bee19c4" mimeType="text/plain"/>
	</flow>
</mule>
